<h1>Welcome to <i>K'atun!</i></h1>

<h2>What is <i>K'atun?</i></h2>

<i>K'atun</i> is intended to be an open-source, platform-agnostic music organizer.  Our intention is to allow someone with a large collection sort through all of the duplicates, as well as add correct tagging, with support from <a href="http://www.musicbrainz.org">MusicBrainz</a>.

Currently, this software is in early alpha, so features you see here are incomplete.  Please <a href="http://code.google.com/p/python-katun">visit the Google Code Website</a> to follow this developing software.
