/* K'atun CSS Stylesheet */

body {
	background: #333333;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-color: #4F4F4F;
}

h1 {
	font-family: 'Amaranth', sans-serif;
	font-size: 47px;
	padding-left: 15px;
}

h2 {
	font-family:  'Times New Roman', serif;
	font-size: 17px;
}

p {
	padding: 7px;
}

a {
	color: #436FD8;
}

a:visited {
	color: #436FD8;
}

a:hover {
	color: #90B1FF;
}

ul {
	list-style-type: none;
}

#results {
	font-family: "Times New Roman", serif;
	width: auto;
	border-collapse: collapse;
}

#results td, #results th {
	font-size: 16px;
	border: 1px solid #183781;
	padding: 3px 3px 3px 3px;
}

#results th {
	font-size: 14px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #C2D4FF;
	color: #3E5CA4;
}

#results tr.odd td {
	color: #0f0f0f;
	background-color: #B5CBFF;
}

#results tr.even td {
	color: #0f0f0f;
	background-color: #9CBAFF;
}


#container {
	width: 90%;
	height: 70%;
	margin: 0px auto;
	background: #E5E5E5;
	border-style: solid;
	border-width: 2px;
	border-color: #1d58be;
	
}

#banner {
	border-style: solid;
	border-width: 1px;
	border-color: #6ca5c9;
	margin-bottom: 15px;
}

#querybox {
	float: none;
}

#sidebar {
	padding-left: 12px;
	height:100%;
	width:18%;
	float:left;
}


#content {
	height:500px;
	width:80%;
	float:none;
	overflow: auto;
}

#footer {


}
