<html>
<head>
		<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="site.css" 
		/>

</head>		
<body>
<div id="container" style="width:1000px; background-color:#708090;">
<div id="header" style="background-color:	#303030;width:100%">
	<div style="display:block;text-align:left;float:left;">
		<h1 style="margin-bottom:0;">Katun</h1>  
	</div>

	<style type="text/css">
		input.html-text-box {background-color:ffffff;font-family:Arial;font-size:10pt;color:000000;}
	</style>

	<div style="display:block;text-align:right;">
		<form method="post" action="http://">
		<input type="Search" value="Search" class="html-text-box">
		</form>
	</div>
</div>

<div id="menu" style="background-color:#707070;height:800px;width:200px;float:left;font-family:Amaranth; font-size:20">
<b>Library</b><br />
-Songs<br />
-Playlists<br />
-Favorites<br />
-Duplicates

</div>

<div id="content" style="background-color:#000000;color:#FFFFFF;height:800px;width:795px;
									overflow: scroll;font-family:Amaranth">
<table style="background-color:#000000;color:#FFFFFF;;
									font-family:Amaranth">
<tr>
<td width="20%">
<th>Title</th>
</td>
<td width="20%">
<th>Artist</th>
</td>
<td width="20%">
<th>Album</th>
</td>
<td width="20%">
<th>Year</th>
</td>
<td width="20%">
<th>Bitrate</th>
</td>
</tr>
</table>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in nunc at dui faucibus interdum eu et nunc. Maecenas sollicitudin vehicula elementum. Ut tempor magna id mi ornare faucibus. Vestibulum a nisi arcu, aliquam bibendum sapien. Proin mollis scelerisque nisl, sed ullamcorper dolor sagittis id. Curabitur porta lacinia neque, et accumsan libero rhoncus a. Sed id massa ut sem aliquam bibendum et ac elit. Sed ipsum nisl, posuere et placerat eget, rutrum non nunc. Phasellus rutrum turpis sit amet turpis faucibus congue.

Nullam imperdiet rutrum velit, eget posuere elit molestie vel. Sed vitae commodo massa. Mauris eu nisi mauris. Duis sodales tellus in velit lobortis feugiat. Sed nec ornare elit. Nam volutpat tortor vel nunc euismod vel sagittis lectus accumsan. Maecenas pulvinar laoreet metus ut molestie.

Nullam nec faucibus tortor. Mauris pharetra auctor sapien vitae lacinia. Nulla a dignissim leo. Integer augue magna, pretium at gravida sit amet, congue eu orci. Fusce et pellentesque arcu. Donec ligula est, malesuada eu tempus vel, ultricies tristique justo. In nec ante id purus fermentum luctus ac vitae odio. Ut arcu augue, tempor id dapibus id, fermentum a orci. Nulla eu dolor mi. Pellentesque mauris orci, euismod non suscipit posuere, ultrices sed libero. Proin nec quam a nisi venenatis rutrum faucibus et mauris. Fusce commodo sodales mattis.

Mauris sit amet erat quis metus blandit pulvinar ut a lorem. Phasellus ac dui at lorem placerat posuere id et enim. Morbi vehicula, arcu sed molestie bibendum, quam lorem adipiscing arcu, condimentum lobortis arcu augue rutrum leo. Nam pulvinar ornare felis ac lacinia. Maecenas ac sem neque. Nunc malesuada tempus diam, at dictum est malesuada quis. Sed vitae lectus dui, ac feugiat dolor. Donec placerat, nisl ut rutrum interdum, augue velit lacinia neque, quis dignissim turpis velit sit amet est. Vestibulum consequat malesuada nisl vel posuere. In vehicula nunc fermentum lectus luctus vitae pretium nunc vehicula. Vivamus euismod euismod commodo. Nulla justo diam, rhoncus a vestibulum eu, accumsan vel ante. Vestibulum dignissim tristique arcu at consequat. Etiam eu ipsum at leo pulvinar lacinia.

Pellentesque tempor convallis sapien, et luctus augue euismod at. Morbi mi neque, convallis ut egestas eu, accumsan quis purus. Donec dignissim bibendum ipsum. Praesent lobortis consectetur tellus, vitae tempor eros eleifend sed. Vivamus leo lorem, tristique ac commodo ut, lacinia sed lorem. Nulla hendrerit vulputate erat, in dictum tortor placerat sit amet. Proin vitae felis ac diam semper malesuada. Maecenas sollicitudin sapien sapien. Suspendisse ultricies nisl nec quam tempus tempor. Pellentesque tincidunt ligula sit amet nunc dapibus tempor. Ut non felis dolor, ac luctus mauris.

Donec sit amet elit nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue lectus quis neque adipiscing sed convallis arcu volutpat. Pellentesque ultricies egestas lacinia. Donec iaculis erat non metus rutrum in congue eros euismod. Quisque at libero massa. In ultrices feugiat arcu, accumsan ullamcorper velit rutrum id. Phasellus semper luctus gravida. Nam consequat volutpat orci ut aliquam. Aenean ut tellus eu elit semper ullamcorper sodales et nisl.

Cras scelerisque venenatis facilisis. Pellentesque est turpis, dignissim eget vehicula sed, dictum sit amet nulla. Sed nec felis eros, quis varius lacus. Vivamus at nulla ante. Sed ac ligula metus, id elementum lorem. Donec in ipsum id est porttitor consequat. Fusce placerat rutrum purus, in sagittis neque tristique ut. Morbi interdum dapibus lorem, in commodo felis tempus eu. Aliquam eget sem at diam feugiat vestibulum. Praesent non tortor id est pellentesque facilisis. Fusce dignissim, ante sit amet egestas interdum, felis tellus porttitor diam, vel ullamcorper nisi dolor non quam. Nulla quis felis quam, in mollis turpis. Sed tortor metus, semper quis scelerisque non, condimentum et leo.

Quisque viverra velit vitae sapien bibendum vel commodo augue semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet dui lorem, commodo lacinia libero. Nulla facilisi. Donec scelerisque odio at quam feugiat consequat. Morbi dignissim tellus facilisis est rutrum auctor. Pellentesque vulputate nunc vitae nisl hendrerit feugiat. Nullam mattis vehicula placerat. Donec id diam sed lorem elementum hendrerit quis eu metus. In enim nulla, ullamcorper nec auctor in, suscipit eu felis. Aenean malesuada mollis lobortis. Sed condimentum vestibulum leo vitae convallis. Vivamus ipsum massa, imperdiet eget porta in, accumsan ut metus. Aliquam lacus dolor, commodo sit amet pulvinar nec, commodo a odio. Curabitur ac nibh tellus, non facilisis enim. Nulla pretium lacus dui, ac luctus nunc.

Pellentesque et neque et sapien laoreet posuere. Nulla ut arcu mi, vel congue turpis. Nam neque nunc, aliquam ut pharetra at, laoreet vitae nisl. Ut orci dui, lacinia non posuere eget, dictum sed arcu. In blandit libero at est interdum sit amet placerat ligula congue. Aliquam id urna id velit pharetra ultrices vel vitae mauris. Ut aliquet dignissim erat in euismod. Aliquam accumsan nulla pretium elit porttitor auctor. Integer pellentesque feugiat mauris. Aenean sem ligula, sagittis eu malesuada eget, adipiscing vel neque. Vivamus rutrum augue vitae ipsum rutrum et accumsan eros congue. Vestibulum consectetur ipsum vel arcu ultrices mattis. Cras rutrum, nulla eget pharetra vestibulum, justo tortor rutrum augue, eget scelerisque tortor sapien ut tellus. Fusce in dictum justo.

Maecenas vitae magna enim, quis bibendum risus. Quisque erat justo, iaculis sed mollis eget, pretium sed lacus. Nulla mollis metus eget sapien pellentesque mollis. Cras et ligula mi. Ut est nunc, posuere sed accumsan quis, cursus eget ante. Vivamus eu tellus justo. Integer dapibus consectetur metus, vel ultrices ante suscipit quis. Cras non quam vitae nisi ultrices accumsan. Ut convallis neque orci, eu sodales sem.

Etiam luctus facilisis arcu, sed hendrerit nunc aliquet in. Donec ac felis felis. Nullam adipiscing dolor et dui malesuada non ultricies est porta. Praesent interdum dignissim risus et viverra. Nulla ultricies nisi eget dolor tempus congue. Etiam tristique, libero at molestie venenatis, augue nisi tincidunt quam, sed euismod libero lectus sed diam. Praesent quis sollicitudin purus. Sed hendrerit augue et arcu scelerisque tempus. Duis at lacus nec nisi commodo tempus sed a enim. Curabitur luctus, lectus viverra lobortis dapibus, nisl tellus imperdiet ante, et pellentesque metus mi eu neque.

Nam euismod eros vitae ante posuere feugiat. Nulla semper, ipsum in blandit faucibus, nunc ligula egestas erat, vel pretium justo metus non sem. Phasellus et enim rhoncus sem vulputate convallis non sit amet purus. Quisque vitae metus nibh. Sed tincidunt egestas blandit. Sed ullamcorper lorem ut justo mollis eu ultricies nibh aliquet. Nulla facilisi. Suspendisse vulputate rhoncus bibendum. Curabitur quis ante mi, nec accumsan enim. Curabitur vestibulum quam quis massa egestas convallis. Vestibulum lobortis tortor id augue interdum vehicula. Mauris tempor fringilla diam non interdum. Vivamus velit ipsum, gravida vel suscipit ut, facilisis id nisl. Cras sit amet eros lorem, ac aliquet ligula.

In mollis, libero in bibendum mattis, erat nisl aliquet metus, in placerat nunc elit nec enim. Maecenas eleifend faucibus dui quis sodales. Fusce sollicitudin tellus in orci consectetur eu rhoncus leo bibendum. Cras sagittis porttitor ligula sed ornare. Phasellus eget dolor nibh. Integer at dolor eu massa tempor scelerisque ut cursus libero. Praesent pulvinar suscipit turpis.

Suspendisse mollis diam sed nisl ullamcorper dignissim. Integer nec risus risus, euismod pharetra dolor. Morbi nec aliquam ligula. Phasellus eget felis vitae sem tristique aliquam id et massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quam nisl, lobortis sit amet feugiat at, pretium nec erat. Etiam mi turpis, commodo ut dictum quis, porttitor at quam. Proin faucibus molestie nibh, ullamcorper bibendum justo rutrum at. Sed tincidunt, sapien sit amet aliquam varius, elit arcu elementum augue, quis accumsan arcu nulla eu sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eget enim nibh, non elementum felis. In hac habitasse platea dictumst.

Mauris eu quam nec velit dapibus consectetur. Nam fermentum, sem id dignissim varius, arcu sapien commodo leo, non iaculis justo felis ac dolor. Suspendisse mattis, sem at porttitor congue, erat mi cursus augue, sed pretium urna metus in dolor. Duis pretium adipiscing velit eu lacinia. Vivamus imperdiet hendrerit sapien, quis consequat nunc iaculis quis. Praesent suscipit sem sit amet dui pulvinar accumsan. Sed facilisis leo a turpis luctus non dictum libero bibendum. Vestibulum malesuada vestibulum dui in vulputate. Nam id odio tortor. Nunc consequat magna sed risus molestie tincidunt. Nunc rutrum, tellus eu tincidunt elementum, ipsum tellus suscipit odio, vel posuere tellus dui et quam. Nullam pretium, risus a accumsan pellentesque, turpis neque ornare magna, quis blandit enim odio ut nunc. Integer sagittis metus sit amet libero egestas pulvinar. Duis fermentum nulla sit amet sem pellentesque placerat. Donec at faucibus nunc. Nullam viverra urna et lacus convallis gravida.

Nullam pretium porttitor nisl. Nam eu orci non elit adipiscing placerat ut ut leo. Sed leo felis, consectetur vel ultricies at, ullamcorper quis erat. Etiam in ipsum at magna auctor ornare. Nam porttitor nulla in quam ullamcorper malesuada pharetra leo blandit. Cras porta enim sit amet enim sodales cursus sollicitudin libero condimentum. Phasellus elementum, lacus eu tempor dictum, arcu nulla vestibulum turpis, eu dictum libero eros et dolor. Etiam felis sapien, molestie eu sodales pretium, volutpat vel diam.

Suspendisse euismod, orci a lobortis vulputate, arcu purus malesuada nibh, at viverra nisi risus ut nulla. Sed commodo tempor magna sit amet accumsan. Maecenas iaculis nisl ante. Mauris lacinia porta ultrices. Aliquam porta, augue vitae aliquet rutrum, enim elit auctor turpis, quis luctus lectus est at nisl. Suspendisse potenti. Curabitur ut sem et tellus scelerisque tempus eget ut sem. Etiam sit amet dui justo. Nulla quis erat nunc, eu rhoncus orci.

Nullam vel nibh eros. Integer ac ipsum odio. Suspendisse posuere, urna congue eleifend porta, sem erat ornare arcu, eu vestibulum enim lacus pretium nisl. Phasellus hendrerit tempus purus id dapibus. Suspendisse nec ligula at ipsum egestas posuere eget ac nulla. Nullam sit amet nulla tellus. Vestibulum fermentum, ipsum elementum molestie ullamcorper, metus libero ullamcorper sem, vel dictum ligula ante a lectus. Cras sollicitudin sapien ac est lobortis posuere. In pharetra dui vitae sapien vestibulum ornare suscipit justo pretium. Nunc id arcu ut lectus volutpat lobortis. Sed bibendum eleifend dictum. Nullam sem ante, sodales nec aliquam in, interdum nec justo. Curabitur purus odio, facilisis id tincidunt vitae, pharetra eget enim. In leo neque, accumsan id fringilla non, vehicula et nibh.

Mauris ipsum lectus, porta vitae sollicitudin eget, pharetra non purus. Vivamus faucibus dolor a nisi scelerisque vel gravida ante volutpat. Aliquam ac nunc a orci volutpat luctus. Duis nunc lorem, tincidunt et egestas sed, tincidunt aliquet sem. Duis id felis justo. Morbi pharetra euismod faucibus. Donec sapien est, hendrerit eu tristique nec, fringilla at turpis. Fusce tortor libero, euismod eu sollicitudin at, vestibulum vestibulum felis.

Donec nisi erat, congue non faucibus tempor, congue in ipsum. Proin pulvinar auctor erat. Vivamus non lorem id justo vestibulum euismod ut nec risus. Cras tempor nulla sed lectus commodo lobortis. Praesent lectus enim, fringilla non lobortis non, porttitor sit amet lacus. Nunc tempor massa non sapien elementum porttitor. Vivamus fermentum, ante non facilisis congue, odio sapien hendrerit ante, ac fermentum neque urna sit amet dui. Pellentesque ac erat purus. Curabitur eu lectus nunc. Pellentesque sit amet ipsum at est ultrices hendrerit vel non magna. Cras rhoncus sapien sit amet urna pretium et dignissim elit sodales. Morbi pharetra mollis posuere.

Sed eget tortor tortor. Cras in odio ac magna iaculis mattis et vitae felis. Donec tellus dui, lobortis vitae feugiat ac, ultricies non lectus. Mauris vulputate porttitor leo ac laoreet. Nulla blandit ultricies metus egestas mattis. Proin id orci nec purus volutpat interdum. Nunc eu urna ac neque posuere tincidunt. Phasellus a imperdiet sapien. Duis vel mollis tortor. Donec sit amet tortor in ligula rhoncus molestie ac at purus. Quisque eu dolor sed risus porta luctus ut in velit. Morbi porta diam vitae dui lacinia eu scelerisque urna tempus. Phasellus eu libero sit amet lectus hendrerit facilisis. Etiam convallis odio a est elementum interdum at a lectus. Nullam sit amet elit eget odio lobortis faucibus. Cras ullamcorper pharetra lobortis.

Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean congue facilisis felis quis lacinia. Ut at magna leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eleifend iaculis nibh at gravida. Phasellus viverra ultricies dui, nec varius sapien scelerisque sed. Ut eu sem ante. Ut et vulputate dolor. Phasellus vel malesuada arcu. Phasellus tempus ultrices libero a tincidunt. Donec cursus ipsum in augue suscipit ornare. Aenean molestie vestibulum malesuada. Integer adipiscing pellentesque ultrices. Aliquam eget lectus nibh.

Nullam sapien erat, bibendum at iaculis quis, mattis eget enim. Nunc sit amet lorem sit amet ante lobortis volutpat in at nibh. Sed facilisis adipiscing vehicula. Ut consequat tincidunt porta. Proin laoreet arcu ut leo mollis bibendum. Nulla commodo auctor urna ut mollis. Curabitur mauris dui, tempor nec pellentesque nec, molestie a urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi mollis imperdiet sodales.

Maecenas aliquet, justo et sagittis tristique, urna urna volutpat ipsum, vel rutrum nunc velit eget nisi. Integer sit amet lorem massa, suscipit aliquam leo. Integer dictum sagittis vestibulum. Sed leo dui, mollis eget aliquam vel, consectetur in sem. Fusce elementum elit id velit aliquet vel pharetra nisi posuere. Pellentesque tristique, metus vitae egestas hendrerit, arcu tellus venenatis odio, ac tempus elit nisi sit amet erat. Proin sollicitudin nisi sed est sodales dapibus. Morbi sagittis sapien nulla, vitae volutpat nibh. Vivamus eu tortor diam, dictum lacinia lectus. Phasellus scelerisque augue quis felis iaculis non blandit quam posuere. Phasellus nec tortor eu turpis dignissim interdum ut et felis. Morbi ultricies lacus vel orci congue dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Morbi bibendum magna vel ante tempus sit amet varius ipsum commodo. Donec id diam sit amet eros iaculis congue eu eget odio. Curabitur tellus mauris, porta lobortis facilisis a, ornare et ligula. Nam aliquam odio a tellus fringilla semper. Fusce rutrum ullamcorper purus, in bibendum dolor semper id. Vestibulum scelerisque libero vel nunc hendrerit mollis. Sed a semper ante. Vivamus urna quam, eleifend in dapibus sit amet, malesuada id justo. Nulla facilisi. Nullam quis ligula risus. Nulla et nisi eget lacus aliquet ultricies. Maecenas et interdum nunc. Nam laoreet malesuada massa, ut elementum turpis vestibulum et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus non velit ac urna hendrerit suscipit a id turpis. Phasellus dolor sem, lobortis sed volutpat ut, feugiat sit amet magna.</div>
</p>

<div id="footer" style="background-color:;clear:both;text-align:center;">
</div>

</div>

</body>
</html>

