<html>
	<head>
		<title>K'atun :: ${title}</title>
		<link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Amaranth:400normal'>
		<link rel="stylesheet" type="text/css" href="templates/katun.css" />
	</head>	

	<body>
		<div id="container">
			<div id="banner">
				<h1><i>K'atun</i></h1>
			</div>
			
			<div id="sidebar">
				<form method="post" action="http://"><input type="Search" value="Search" id="html-text-box"></form>
				<h2>Library</h2>
				<ul>
					<li>Songs</li>
					<li>Playlists</li>
					<li>Favorites</li>
					<li>Duplicates</li>
				</ul>
			</div>

			<div id="content">
				<table><tr><td>1</td><td>2</td></tr></table>
			</div>

				<div id="footer" style="background-color:;clear:both;text-align:center;"> </div>
			</div>
		</div>
	</body>
</html>
