<html>
<body>

<div id="container" style="width:1000px">

<div id="header" style="background-color:#FFA500;">
<h1 style="margin-bottom:0;">Katun</h1></div>

<div id="menu" style="background-color:#00ff00;height:800px;width:200px;float:left;">
<b>Library</b><br />
-Songs<br />
-Playlists<br />
-Favorites<br />
-Duplicates
</div>

<div id="content" style="background-color:#EEEEEE;height:800px;width:800px;float:left;">
Title Artist Album Year Bitrate</div>

<div id="footer" style="background-color:##FF0000;clear:both;text-align:center;">
</div>

</div>

</body>
</html>
