<%
	from db_backend import DatabaseInterface
	db = DatabaseInterface()
	data = db.execute_query(sql)
	keys = data[0].keys()
%>

	
	<table id="results">
				<tr>
					% for item in keys:
						<th>${item}</th>
					%endfor
				</tr>
				% for element in data:
					<tr class="odd">
						<td><a href="song?location=${element[5]}">${element[0]}</a></td>
						<td>${element[1]}</td>
						<td>${element[2]}</td>
						<td>${element[3]}</td>
						<td>${element[4]}</td>
				%endfor
				</tr>
	</table>
