
<% br = kw['bitrate'] %>
<h3>Information for ${kw['title']}</h3>
			<ul>
				<li>Song Title:&nbsp; ${kw['title']}</li>
				<li>Artist:&nbsp; ${kw['artist']}</li>
				<li>Album:&nbsp; ${kw['album']}</li>
				<li>Genre:&nbsp; ${kw['genre']}</li>
				<li>Filetype:&nbsp; ${kw['filetype']}</li>
				<li>Track Number:&nbsp; ${kw['tracknumber']}</li>
				<li>Bit Rate (bps):&nbsp;
				% if br == 999999: lossless
				% else:	br
				%endif
				</li>
				<li>Date:&nbsp; ${kw['date']}</li>
				<li>Physical Location:&nbsp; ${kw['location']}</li>
				<li>Add to favorites?</li>
			
			</ul>
